<!DOCTYPE html>
<html>

<head>

    <title>
        Azarias
    </title>
</head>

<body>

    <div id="top">
        <p>Music :
            <a href="https://www.jamendo.com/track/81740/sad-robot" target="_blank">
            Sad robot
        </a>
        </p>
        <br>
        <audio controls="" id="audio" autoplay="">
            <source id="audioSource" src="<%=require('../src/sad_robot.mp3')%>" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
    </div>

    <canvas id="c" width="1920" height="912"></canvas>

</body>

</html>